<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UserServiceSoap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.97.75.50/ChatAppWebInterface/UserService.asmx" binding="basicHttpBinding" bindingConfiguration="UserServiceSoap" contract="ServiceReference1.UserServiceSoap" name="UserServiceSoap"/>
        </client>
    </system.serviceModel>
</configuration>
