body
{
    position: absolute;
    left: 46%;
    width: 100%;
    margin: 0 auto;
}

.center
{
    position: absolute;
    left: 46%;
    width: 100%;
    margin: 0 auto;
}
.row
{
    margin: 5px;
    padding: 2px;
    width: 20%;
}


.searchTextBox
{
    margin-bottom:10px;
    width:80px;
}